In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('data/df_noticias_if.csv')

In [3]:
df.head()

,data,titulo,conteudo
0,14/09/2017,Campus Barbacena divulga Resultado Provisório ...,\n\n\tO Campus Barbacena divulgou o Resultado ...
1,14/09/2017,Divulgado o Edital de convocação de assembleia...,\n\n\tDivulgado o Edital de convocação de asse...
2,14/09/2017,Pesquisador da Bélgica realiza palestra no Cam...,"\n\n\tO pesquisador da Bélgica, Luc Vankrunkel..."
3,14/09/2017,Divulgada a homologação das inscrições à candi...,\n\n\tDivulgada a homologação das inscrições à...
4,14/09/2017,"Aprovado Regulamento de Eventos, Cerimonial e ...","\n\n\tO Regulamento, aprovado no dia 05 de set..."

In [4]:
df.iloc[0]

data                                               14/09/2017
titulo      Campus Barbacena divulga Resultado Provisório ...
conteudo    \n\n\tO Campus Barbacena divulgou o Resultado ...
Name: 0, dtype: object

In [5]:
print(df.iloc[2]['conteudo'])

	O pesquisador da Bélgica, Luc Vankrunkelsven, fará uma palestra no dia 27 de setembro, no Auditório I, às 18h30, sobre "Agroecologia na Bélgia , Zona da Mata-MG e no Brasil: novidades no ar".

	A atividade é gratuita.

### Pré-Processamento 

Consiste em processar os textos antes de realizar sua conversção para um formato numérico.

In [6]:
#Convertendo todo o texto para minúsculas e criando nova coluna
df['text_lower'] = df['conteudo'].apply(lambda x: x.lower())

In [7]:
df['text_lower'].head(10)

0    \n\n\to campus barbacena divulgou o resultado ...
1    \n\n\tdivulgado o edital de convocação de asse...
2    \n\n\to pesquisador da bélgica, luc vankrunkel...
3    \n\n\tdivulgada a homologação das inscrições à...
4    \n\n\to regulamento, aprovado no dia 05 de set...
5    \n\n\tos alunos interessados em imprimir seus ...
6    \n\n\tnesta terça-feira,12, aconteceu na diret...
7    \n\n\to if sudeste mg, campus barbacena, por m...
8    \n\n\ta diretoria de pesquisa, inovação e pós-...
9    \n\n\to aluno do curso superior de tecnologia ...
Name: text_lower, dtype: object

In [8]:
df['conteudo'].apply(lambda x: x.replace('\n','').replace('\t', '')).head(10)

0    O Campus Barbacena divulgou o Resultado Provis...
1    Divulgado o Edital de convocação de assembleia...
2    O pesquisador da Bélgica, Luc Vankrunkelsven, ...
3    Divulgada a homologação das inscrições à candi...
4    O Regulamento, aprovado no dia 05 de setembro ...
5    Os alunos interessados em imprimir seus certif...
6    Nesta terça-feira,12, aconteceu na Diretoria d...
7    O IF Sudeste MG, Campus Barbacena, por meio da...
8    A Diretoria de Pesquisa, Inovação e Pós-gradua...
9    O aluno do curso Superior de Tecnologia em Sis...
Name: conteudo, dtype: object

In [9]:
# Removendo pontuação
from string import punctuation

In [10]:
punctuation

'!"#$%&\'()*+,-./:;<=>?@[\\]^_`{|}~'

In [11]:
''.join([l for l in df.iloc[0]['conteudo'] if l not in punctuation])

'\n\n\tO Campus Barbacena divulgou o Resultado Provisório do VIII Simpósio de Pesquisa e Inovação\n\n\tOs estudantes devem ficar atentos as observações que constam no final do documento\n\nLeia o documento\n'

In [12]:
import re

df['conteudo'] = df['conteudo'].apply(lambda x : re.sub(r'\n|\t', '', x))
df['text_lower'] = df['text_lower'].apply(lambda x : re.sub(r'\n|\t', '', x))
df.head()

,data,titulo,conteudo,text_lower
0,14/09/2017,Campus Barbacena divulga Resultado Provisório ...,O Campus Barbacena divulgou o Resultado Provis...,o campus barbacena divulgou o resultado provis...
1,14/09/2017,Divulgado o Edital de convocação de assembleia...,Divulgado o Edital de convocação de assembleia...,divulgado o edital de convocação de assembleia...
2,14/09/2017,Pesquisador da Bélgica realiza palestra no Cam...,"O pesquisador da Bélgica, Luc Vankrunkelsven, ...","o pesquisador da bélgica, luc vankrunkelsven, ..."
3,14/09/2017,Divulgada a homologação das inscrições à candi...,Divulgada a homologação das inscrições à candi...,divulgada a homologação das inscrições à candi...
4,14/09/2017,"Aprovado Regulamento de Eventos, Cerimonial e ...","O Regulamento, aprovado no dia 05 de setembro ...","o regulamento, aprovado no dia 05 de setembro ..."

In [13]:
# Tokenização com split

print(df.iloc[0]['conteudo'].split(' '))

['O', 'Campus', 'Barbacena', 'divulgou', 'o', 'Resultado', 'Provisório', 'do', 'VIII', 'Simpósio', 'de', 'Pesquisa', 'e', 'Inovação.Os', 'estudantes', 'devem', 'ficar', 'atentos', 'as', 'observações', 'que', 'constam', 'no', 'final', 'do', 'documento.Leia', 'o', 'documento']

In [14]:
#gensim

In [15]:
# Tokenização com nltk

from nltk import word_tokenize

print(word_tokenize(df.iloc[0]['conteudo']))

['O', 'Campus', 'Barbacena', 'divulgou', 'o', 'Resultado', 'Provisório', 'do', 'VIII', 'Simpósio', 'de', 'Pesquisa', 'e', 'Inovação.Os', 'estudantes', 'devem', 'ficar', 'atentos', 'as', 'observações', 'que', 'constam', 'no', 'final', 'do', 'documento.Leia', 'o', 'documento']

In [16]:
# Remoção de acentos

from unicodedata import normalize

normalize('NFKD', df.iloc[0]['conteudo']).encode('ASCII', 'ignore')

b'O Campus Barbacena divulgou o Resultado Provisorio do VIII Simposio de Pesquisa e Inovacao.Os estudantes devem ficar atentos as observacoes que constam no final do documento.Leia o documento'

In [17]:
# Removendo stopwords (palavras frequentes mas com pouco significado semântico)

import nltk

stopwords = nltk.corpus.stopwords.words('portuguese')
print(stopwords)

['de', 'a', 'o', 'que', 'e', 'é', 'do', 'da', 'em', 'um', 'para', 'com', 'não', 'uma', 'os', 'no', 'se', 'na', 'por', 'mais', 'as', 'dos', 'como', 'mas', 'ao', 'ele', 'das', 'à', 'seu', 'sua', 'ou', 'quando', 'muito', 'nos', 'já', 'eu', 'também', 'só', 'pelo', 'pela', 'até', 'isso', 'ela', 'entre', 'depois', 'sem', 'mesmo', 'aos', 'seus', 'quem', 'nas', 'me', 'esse', 'eles', 'você', 'essa', 'num', 'nem', 'suas', 'meu', 'às', 'minha', 'numa', 'pelos', 'elas', 'qual', 'nós', 'lhe', 'deles', 'essas', 'esses', 'pelas', 'este', 'dele', 'tu', 'te', 'vocês', 'vos', 'lhes', 'meus', 'minhas', 'teu', 'tua', 'teus', 'tuas', 'nosso', 'nossa', 'nossos', 'nossas', 'dela', 'delas', 'esta', 'estes', 'estas', 'aquele', 'aquela', 'aqueles', 'aquelas', 'isto', 'aquilo', 'estou', 'está', 'estamos', 'estão', 'estive', 'esteve', 'estivemos', 'estiveram', 'estava', 'estávamos', 'estavam', 'estivera', 'estivéramos', 'esteja', 'estejamos', 'estejam', 'estivesse', 'estivéssemos', 'estivessem', 'estiver', 'estivermos', 'estiverem', 'hei', 'há', 'havemos', 'hão', 'houve', 'houvemos', 'houveram', 'houvera', 'houvéramos', 'haja', 'hajamos', 'hajam', 'houvesse', 'houvéssemos', 'houvessem', 'houver', 'houvermos', 'houverem', 'houverei', 'houverá', 'houveremos', 'houverão', 'houveria', 'houveríamos', 'houveriam', 'sou', 'somos', 'são', 'era', 'éramos', 'eram', 'fui', 'foi', 'fomos', 'foram', 'fora', 'fôramos', 'seja', 'sejamos', 'sejam', 'fosse', 'fôssemos', 'fossem', 'for', 'formos', 'forem', 'serei', 'será', 'seremos', 'serão', 'seria', 'seríamos', 'seriam', 'tenho', 'tem', 'temos', 'tém', 'tinha', 'tínhamos', 'tinham', 'tive', 'teve', 'tivemos', 'tiveram', 'tivera', 'tivéramos', 'tenha', 'tenhamos', 'tenham', 'tivesse', 'tivéssemos', 'tivessem', 'tiver', 'tivermos', 'tiverem', 'terei', 'terá', 'teremos', 'terão', 'teria', 'teríamos', 'teriam']

In [18]:
print([w for w in word_tokenize(df.iloc[0]['conteudo'].lower()) if (w not in stopwords) and (w not in punctuation)])

['campus', 'barbacena', 'divulgou', 'resultado', 'provisório', 'viii', 'simpósio', 'pesquisa', 'inovação.os', 'estudantes', 'devem', 'ficar', 'atentos', 'observações', 'constam', 'final', 'documento.leia', 'documento']

In [19]:
# Stemming (Redução do termo a seu radical)

stemmer = nltk.stem.RSLPStemmer()

stemmer.stem('programar'), stemmer.stem('programava'), stemmer.stem('programaremos')

('program', 'program', 'program')

In [20]:
# Lemmatization (EN)
# Menos 'agressivo' que o stemming

from nltk.stem.wordnet import WordNetLemmatizer

lmtzr = WordNetLemmatizer()

lmtzr.lemmatize('cars'), lmtzr.lemmatize('boxes'), lmtzr.lemmatize('spies'), lmtzr.lemmatize('children')

('car', 'box', 'spy', 'child')

In [21]:
nltk.download('averaged_perceptron_tagger')

[nltk_data] Downloading package averaged_perceptron_tagger to
[nltk_data]     /home/jose/nltk_data...
[nltk_data]   Package averaged_perceptron_tagger is already up-to-
[nltk_data]       date!

True

In [22]:
# Parts of Speech Tagging (EN)

nltk.pos_tag('the book is on the table'.split())

[('the', 'DT'),
 ('book', 'NN'),
 ('is', 'VBZ'),
 ('on', 'IN'),
 ('the', 'DT'),
 ('table', 'NN')]

In [23]:
nltk.download('punkt')

[nltk_data] Downloading package punkt to /home/jose/nltk_data...
[nltk_data]   Package punkt is already up-to-date!

True

In [24]:
print(word_tokenize(df.iloc[0]['conteudo']))

['O', 'Campus', 'Barbacena', 'divulgou', 'o', 'Resultado', 'Provisório', 'do', 'VIII', 'Simpósio', 'de', 'Pesquisa', 'e', 'Inovação.Os', 'estudantes', 'devem', 'ficar', 'atentos', 'as', 'observações', 'que', 'constam', 'no', 'final', 'do', 'documento.Leia', 'o', 'documento']

In [25]:
from unicodedata import normalize

In [26]:
normalize('NFKD', df.iloc[0]['conteudo']).encode('ASCII', 'ignore')

b'O Campus Barbacena divulgou o Resultado Provisorio do VIII Simposio de Pesquisa e Inovacao.Os estudantes devem ficar atentos as observacoes que constam no final do documento.Leia o documento'

In [27]:
nltk.download('stopwords')

[nltk_data] Downloading package stopwords to /home/jose/nltk_data...
[nltk_data]   Package stopwords is already up-to-date!

True

In [28]:
stopwords = nltk.corpus.stopwords.words('portuguese')

In [29]:
print(stopwords)

['de', 'a', 'o', 'que', 'e', 'é', 'do', 'da', 'em', 'um', 'para', 'com', 'não', 'uma', 'os', 'no', 'se', 'na', 'por', 'mais', 'as', 'dos', 'como', 'mas', 'ao', 'ele', 'das', 'à', 'seu', 'sua', 'ou', 'quando', 'muito', 'nos', 'já', 'eu', 'também', 'só', 'pelo', 'pela', 'até', 'isso', 'ela', 'entre', 'depois', 'sem', 'mesmo', 'aos', 'seus', 'quem', 'nas', 'me', 'esse', 'eles', 'você', 'essa', 'num', 'nem', 'suas', 'meu', 'às', 'minha', 'numa', 'pelos', 'elas', 'qual', 'nós', 'lhe', 'deles', 'essas', 'esses', 'pelas', 'este', 'dele', 'tu', 'te', 'vocês', 'vos', 'lhes', 'meus', 'minhas', 'teu', 'tua', 'teus', 'tuas', 'nosso', 'nossa', 'nossos', 'nossas', 'dela', 'delas', 'esta', 'estes', 'estas', 'aquele', 'aquela', 'aqueles', 'aquelas', 'isto', 'aquilo', 'estou', 'está', 'estamos', 'estão', 'estive', 'esteve', 'estivemos', 'estiveram', 'estava', 'estávamos', 'estavam', 'estivera', 'estivéramos', 'esteja', 'estejamos', 'estejam', 'estivesse', 'estivéssemos', 'estivessem', 'estiver', 'estivermos', 'estiverem', 'hei', 'há', 'havemos', 'hão', 'houve', 'houvemos', 'houveram', 'houvera', 'houvéramos', 'haja', 'hajamos', 'hajam', 'houvesse', 'houvéssemos', 'houvessem', 'houver', 'houvermos', 'houverem', 'houverei', 'houverá', 'houveremos', 'houverão', 'houveria', 'houveríamos', 'houveriam', 'sou', 'somos', 'são', 'era', 'éramos', 'eram', 'fui', 'foi', 'fomos', 'foram', 'fora', 'fôramos', 'seja', 'sejamos', 'sejam', 'fosse', 'fôssemos', 'fossem', 'for', 'formos', 'forem', 'serei', 'será', 'seremos', 'serão', 'seria', 'seríamos', 'seriam', 'tenho', 'tem', 'temos', 'tém', 'tinha', 'tínhamos', 'tinham', 'tive', 'teve', 'tivemos', 'tiveram', 'tivera', 'tivéramos', 'tenha', 'tenhamos', 'tenham', 'tivesse', 'tivéssemos', 'tivessem', 'tiver', 'tivermos', 'tiverem', 'terei', 'terá', 'teremos', 'terão', 'teria', 'teríamos', 'teriam']

In [30]:
nltk.download('rslp')

[nltk_data] Downloading package rslp to /home/jose/nltk_data...
[nltk_data]   Package rslp is already up-to-date!

True

In [31]:
stemmer = nltk.stem.RSLPStemmer()

In [32]:
stemmer.stem('programar'), stemmer.stem('programava'), stemmer.stem('prograremos')

('program', 'program', 'progr')

In [33]:
nltk.download('wordnet')

[nltk_data] Downloading package wordnet to /home/jose/nltk_data...
[nltk_data]   Package wordnet is already up-to-date!

True

In [34]:
from nltk.stem.wordnet import WordNetLemmatizer

lemtzr = WordNetLemmatizer()

lemtzr.lemmatize('cars'), lemtzr.lemmatize('boxes'), lemtzr.lemmatize('spies'), lemtzr.lemmatize('children')

('car', 'box', 'spy', 'child')

In [35]:
def processa(row):
    txt = row['titulo'] + ' ' + row['conteudo']
    
    return ' '.join([t for t in word_tokenize(txt.lower()) if (t not in stopwords) and (t not in punctuation)])


df['doc'] = df.apply(processa, axis=1)

In [36]:
df['doc'].head()

0    campus barbacena divulga resultado provisório ...
1    divulgado edital convocação assembleia centro ...
2    pesquisador bélgica realiza palestra campus ba...
3    divulgada homologação inscrições candidatura c...
4    aprovado regulamento eventos cerimonial protoc...
Name: doc, dtype: object

## Vetorização

Conversão dos textos para uma representação numérica
Forma básica: TF (Term Frequency)

In [37]:
from sklearn.feature_extraction.text import TfidfVectorizer

vectorizer = TfidfVectorizer(
    analyzer='word',
    ngram_range=(1,1),
    max_features=None,
    binary=False,
    use_idf=True
)

tfidf_matrix = vectorizer.fit_transform(df['doc'])

tfidf_matrix

<1000x11886 sparse matrix of type '<class 'numpy.float64'>'
	with 67789 stored elements in Compressed Sparse Row format>

In [38]:
# Labels das colunas
print(vectorizer.get_feature_names()[:200])

# Vieram números e partes de links

['00', '000', '000957', '001', '002', '002084', '002086', '003', '003360', '008', '009', '00aluno', '00aproveitando', '00dia', '00funcionário', '00lista', '00visitante', '01', '012', '018', '01para', '02', '020', '021', '022', '03', '031', '032', '036', '039', '03dez2015', '04', '05', '050617', '052', '056', '05_final', '05resultado', '06', '06h30', '06resultado', '07', '072016', '076ingrid', '07h', '07h00', '07h30', '07inaptoinparley', '07manhã2º', '07tarde1º', '08', '08h', '08h00min', '08h30', '08h30min', '09', '0909h', '0910h', '0913h', '09h', '09h00min', '09h30', '09h30min', '0foto', '10', '100', '1000', '10024', '100a', '106', '107', '109', '10anexo', '10análise', '10h', '10h00min', '10h30', '10h30m', '10h30min', '10h45mim', '10h45min', '10novo', '10ª', '10º', '11', '110', '115', '116257', '11anexo', '11divulgação', '11h', '11h00', '11h00min', '11h10minhaverá', '11h13', '11h30', '11h30min', '11h30minlocal', '11h40dia', '11ª', '11º', '12', '120', '121', '123ana', '125', '1256', '128', '1283', '129', '12anexo', '12h', '12h00min', '12h30', '12inaptoingreiciane', '13', '136', '13anexo', '13h', '13h00', '13h00mina', '13h10min', '13h30', '13h30min', '13ª', '14', '140', '141', '143', '145', '146', '149', '14h', '14h00min', '14h30', '14hlocal', '14qualidadedevidaedoambiente', '14qualidadedevidaedoambienteos', '15', '150', '15h', '15h30', '15h30min', '15veja', '16', '160', '164', '166', '16h', '16h00min', '16h30', '16h50', '16hcampus', '17', '170', '17data', '17h', '17h00min', '17h30', '17h30local', '17h30min', '17h45', '17ha', '17habertura', '17hdia', '17hleia', '17ª', '18', '180', '1827', '185', '18h', '18h00min', '18h15min', '18h30', '18h30min', '18ha', '18ho', '18htodas', '18ª', '19', '1909', '1910', '1927', '1927an4vppuglifzxylp9u4ogs', '1932', '1945', '1947', '1972', '1979', '1983', '1984', '1986', '1987', '1992', '1993', '1994', '1995', '1999', '19h']

In [39]:
# Visualização da matriz na forma densa (DataFrame)

pd.DataFrame(tfidf_matrix.todense(), columns=vectorizer.get_feature_names()).head()

,00,000,000957,001,002,002084,002086,003,003360,008,...,último,últimos,única,únicas,único,únicos,úteis,útero,útil,útimo
0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.206311,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0

### Similaridade textual

Utiliza o espaço vetorial para calcular a disntância entre cada texto

In [40]:
from sklearn.metrics.pairwise import cosine_similarity

# Calcula todas as similaridades de cada linha
sim = cosine_similarity(tfidf_matrix)

sim.shape

(1000, 1000)

In [41]:
# Similaridade entre o primeiro e o segundo texto
sim[0][1]

0.04909892938637625

In [42]:
# Similaridade entre o primeiro e o segundo texto
sim[0][100]

0.0

In [43]:
df.iloc[0].doc

'campus barbacena divulga resultado provisório viii simpósio pesquisa inovação campus barbacena divulgou resultado provisório viii simpósio pesquisa inovação.os estudantes devem ficar atentos observações constam final documento.leia documento'

In [44]:
df.iloc[1].doc

'divulgado edital convocação assembleia centro acadêmico nutrição divulgado edital convocação assembleia centro acadêmico nutrição.leia documento'

In [45]:
df.iloc[100].doc

'centro memória diaulas abreu reaberto dia 07 agosto centro memória diaulas abreu reaberto visitação novo horário funcionamento 08h 12h 13h 17h agendamentos visitas podem ser realizados contato 32 9 84868411 32 9 82247002 .foto rachel santos'

In [46]:
# Similaridade via distância de Levenshtein
from Levenshtein import distance

distance(
    df.iloc[0].doc,
    df.iloc[1].doc
)

166

In [47]:
distance(
    df.iloc[0].doc,
    df.iloc[100].doc
)

190

## Análise de sentimentos

Detectar automaticamente a polaridade e intensidade do sentimento expresso em um texto.


## LeIA (Léxico para Inferência Adaptada)
LeIA (Léxico para Inferência Adaptada) é um fork do léxico e ferramenta para análise de sentimentos VADER (Valence Aware Dictionary and sEntiment Reasoner) adaptado para textos em português, com suporte para emojis e foco na análise de sentimentos de textos expressos em mídias sociais - mas funcional para textos de outros domínios.

A biblioteca preserva a API do VADER, e o texto de entrada não precisa ser pré-processado:

In [48]:
from leia import SentimentIntensityAnalyzer

s = SentimentIntensityAnalyzer()

In [51]:
# Análise de texto simples

s.polarity_scores('Eu estou muuuuuuuuuito feliz')

{'neg': 0.0, 'neu': 0.423, 'pos': 0.577, 'compound': 0.6249}

In [52]:
# Análise de texto com emoji

s.polarity_scores('Eu estou muuuuuuuuuito feliz :)')

{'neg': 0.0, 'neu': 0.297, 'pos': 0.703, 'compound': 0.7964}

In [53]:
# Análise de texto com negação

s.polarity_scores('Eu não estou legal')

{'neg': 0.386, 'neu': 0.351, 'pos': 0.263, 'compound': -0.1779}

A saída da análise de sentimentos é um dicionário com os seguintes campos:

- <code>pos</code>: porcentagem positiva do texto
- <code>neg</code>: porcentagem negativa do texto
- <code>neu</code>: porcentagem neutra do texto
- <code>compound</code>: valor de sentimento geral normalizado, variando de -1 (extremamente negativo) a +1 (extremamente positivo)

O valor <code>compound</code> pode ser utilizado para descrever o sentimento predominante no texto, por meio dos limites de valores:

- Sentimento positivo: <code>compound >= 0.05</code>
- Sentimento negativo: <code>compound <= -0.05</code>
- Sentimento neutro: <code>(compound > -0.05) and (compound < 0.05)</code>